/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after {
  content: '';
  content: none;
}

q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: #000;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100px;
}

header .logo__block {
  width: 225px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .logo__block .logo__block__img {
  width: 25px;
  height: 25px;
  background: #b84b0d;
  border-radius: 50%;
  margin-right: 7px;
}

header .logo__block h1 a {
  font-weight: 600;
  font-size: 25px;
}

header .header__list-block {
  font-size: 16px;
}

header .header__list-block ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header__list-block ul li {
  width: 87px;
  height: 24px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header__list-block ul li:first-child {
  border-right: 2px solid #000;
}

header .header__list-block ul li:last-child {
  border-left: 2px solid #000;
}

/************VARIABLES**********************/

/**************STYLES*****************************/

body {
  background: #f3f3f3;
}

body a,
li {
  font-family: Tahoma, Geneva, sans-serif;
}

._container {
  width: calc(100% - 80px);
  margin: 0 auto;
}